.edit_scores_table table > tbody > tr > td.score_elem {
    font-weight: bold;
}

.edit_scores_table table > tbody > tr > td.score_elem.conspicious {
    color: #ff0000 !important;
    font-weight: bold !important;
}

.edit_scores_table table > tbody > tr > td.score_elem.extremal {
    font-weight: normal;
    color: #aaaaaa;
}