.edit_score table > tbody > tr > td.number_btn {
    font-size: 2rem;
    font-weight: bold;
}
.edit_score table > tbody > tr > td.number_btn:hover {
    background-color: #eeeeee;
}
.edit_score table > tbody > tr > td .wave_label {
    font-size: 2rem;
    font-weight: bold;
}

