.edit_scores_table table > tbody > tr > td.score_elem {
}

.edit_scores_table table > tbody > tr > td.score_elem.conspicious {
    color: #ff0000 !important;
}

.edit_scores_table table > tbody > tr > td.score_elem.extremal {
    text-decoration: line-through;
    text-decoration-color: #666666;
}