.focus_heat > rect{
    fill: #BBBBFF;
    stroke: none;
}

.heat_node {
     cursor: pointer;
 }

 .heat_node > rect {
     fill: #BBBBBB;
     stroke: #CCCCCC;
     stroke-width: 0.5px;
 }

 .heat_node text.title {
     font-weight: bold;
 }

 .heat_node text {
     font: 10px sans-serif;
 }

 .heat_node > .heat_seed > rect {
     stroke: #CCCCCC;
 }

 .heat_node > .heat_place > rect {
     fill: #FFFFFF;
     stroke: #CCCCCC;
 }

 .heat_node > .heat_place.first > rect{
    fill: rgba(255, 200, 0, 1);
 }

 .heat_node > .heat_place.second > rect{
    fill: rgba(200, 200, 200, 1);
 }

 .heat_node > .heat_place.third > rect{
    fill: rgba(255, 100, 0, 1);
  }

 .link {
     fill: none;
     stroke: #CCCCCC;
     stroke-width: 1.5px;
 }
