.heatchart .focus_heat > rect{
    fill: #BBBBFF;
    stroke: none;
}

.heatchart .heat_node {
     cursor: pointer;
 }

.heatchart .heat_node > rect {
     fill: #BBBBBB;
     stroke: #CCCCCC;
     stroke-width: 0.5px;
 }

.heatchart .heat_node text.title {
     font-weight: bold;
 }

.heatchart .heat_node text {
     font: 10px sans-serif;
 }

.heatchart .heat_node > .heat_seed > rect {
     stroke: #CCCCCC;
 }

.heatchart .heat_node > .heat_place > rect {
     fill: #FFFFFF;
     stroke: #CCCCCC;
 }

.heatchart .heat_node > .heat_place.first > rect{
    fill: rgba(255, 200, 0, 1);
 }

.heatchart .heat_node > .heat_place.second > rect{
    fill: rgba(200, 200, 200, 1);
 }

.heatchart .heat_node > .heat_place.third > rect{
    fill: rgba(255, 100, 0, 1);
  }

.heatchart .link {
     fill: none;
     stroke: #CCCCCC;
     stroke-width: 1.5px;
 }

.heatchart .link.focus {
    fill: none;
    stroke: #333333;
    stroke-width: 1.5px;
 }

.heatchart .link.self_link {
    stroke: #ff0000;
    stroke-width: 2px;
}


.heatchart .link_connector {
    fill-opacity: 0;
    fill: #aaaaaa;
}

.heatchart .link_connector:hover{
    fill-opacity: 1;
}

.heatchart .link_connector.potential_target {
    fill-opacity: 0.2;
}

.heatchart .link_connector.potential_target:hover {
    fill-opacity: 0.5;
}

.heatchart .participant_dropoff {
    fill-opacity: 0.1;
    stroke: #aaaaaa;
    fill: #444444;
    stroke-opacity: 0.3;
}

.heatchart .participant_dropoff:hover {
    fill-opacity: 0.5;
}
