.surfers_table .selected {background-color: #88FF88 !important;}

.participants_table .proposal {background-color: #FF8888 !important;}

.participants_table .rule {color: #888888 !important; background-color: #EEEEEE !important;}

.surfers_table {width: 100%;}
