.results_table.borderless td, results_table.borderless th {
    border: none;
}

.results_table thead>tr {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.results_table thead>tr>td.color_header {
    background-color: #FFFFFF00;
}

.results_table thead>tr>td.place_header {
    background-color: #CCCCCC;
}

.results_table thead>tr>td.surfer_header {
    text-align: left;
    background-color: #CCCCCC;
}

.results_table thead>tr>td.total_score_header {
    background-color: #CCCCCC;
}

.results_table thead>tr>td.best_waves_header {
    background-color: #CCCCCC;
}

.results_table thead>tr>td.needs_header {
    background-color: #CCCCCC;
}

.results_table thead>tr>td.wave_score_header {
    background-color: #CCCCCC;
}

.results_table tbody>tr {
    font-size: 1.5em;
}

@media print {
    .results_table tbody>tr>td {
        background-color: inherit !important;
    }
}

.results_table tbody>tr>td.unpublished {
    background: repeating-linear-gradient(
        45deg,
        #00000000,
        #00000000 10px,
        #00000022 10px,
        #00000022 20px
      );
    color: #333333;
}

.results_table tbody>tr>td.best_wave {
    font-weight: bold;
}

.results_table tbody>tr>td.second_best_wave {
    font-weight: bold;
}

.results_table tbody>tr>td.color_cell {
    /* border: 0.5px solid #ccc; */
}

.results_table tbody>tr>td.place_cell {
    font-weight: bold;
    text-align: center;
}

.results_table tbody>tr>td.name_cell > span.last_name {
    font-weight: bold;
}

.results_table tbody>tr>td.total_score_cell {
    font-weight: bold;
    text-align: center;
}

.results_table tbody>tr>td.best_waves_cell {
    text-align: center;
    font-size: 0.7em;
}

.results_table tbody>tr>td.needs_cell {
    text-align: center;
}

.results_table tbody>tr>td.wave_score_cell {
    text-align: center;
}


table.results_table.fixed-width {
    width: auto;
}

table.results_table.fixed-width td {
    width: 60px;
}

table.results_table.fixed-width td.color_header, table.results_table.fixed-width td.color_cell {
    width: 30px;
}

table.results_table.fixed-width td.color_header {
    background-color: #CCCCCC;
}
