.results_table.borderless td, results_table.borderless th {
    border: none;
}

.results_table thead>tr {
    font-weight: bold;
    font-size: 1.5em;
    background-color: #CCCCCC;
    text-align: center;
}

.results_table thead>tr>td.color_header {
    background-color: #FFFFFF;
}

.results_table thead>tr>td.surfer_header {
    text-align: left;
}

.results_table tbody>tr {
    font-size: 1.5em;
}

.results_table tbody>tr>td.unpublished {
    background: repeating-linear-gradient(
        45deg,
        #00000000,
        #00000000 10px,
        #00000022 10px,
        #00000022 20px
      );
    color: #333333;
}

.results_table tbody>tr>td.best_wave {
    font-weight: bold;
}

.results_table tbody>tr>td.second_best_wave {
    font-weight: bold;
}

.results_table tbody>tr>td.color_cell {
    /* border: 0.5px solid #ccc; */
}

.results_table tbody>tr>td.place_cell {
    font-weight: bold;
    text-align: center;
}

.results_table tbody>tr>td.name_cell > span.last_name {
    font-weight: bold;
}

.results_table tbody>tr>td.total_score_cell {
    font-weight: bold;
    text-align: center;
}

.results_table tbody>tr>td.needs_cell {
    text-align: center;
}

.results_table tbody>tr>td.wave_score_cell {
    text-align: center;
}