.card_header_title {
    font-size: 2em;
}
.card_header_title.small {
    font-size: 1.5em;
}

img.branding-logo {
    margin-right: 15px;
    vertical-align: bottom;
    width: auto;
    height: 45px
}

span.branding-text {
    font-size: 0.8em;
    margin-bottom: -3px;
    color: #eee;
}
