{% extends "base_template.html" %}

{% block nav_items %}['#nav_item_heat_overview']{% endblock nav_items %}

{% block title %}Heat Overview{% endblock title %}

{% block css %}
{{ super() }}



<link href="/static/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="/static/bootstrap_duallistbox/bootstrap-duallistbox.min.css" rel="stylesheet">
<link href="/static/surfjudge/css/heat_participants.css" rel="stylesheet">
<link href="/static/datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="/static/surfjudge/css/judging_requests.css" rel="stylesheet">
<link href="/static/surfjudge/css/edit_score.css" rel="stylesheet">

<style>
 .datepicker{z-index:1151 !important;}
 .timepicker{z-index:1151 !important;}
 .scrollable-menu{
     height: auto;
     max-height: 200px;
     overflow-x: hidden;
 }
 .carousel-control {
     height: 100px;
     z-index: 10;
     width: 50px; // no more gray thing
 }

 .carousel-control-prev { left: -60px; }
 .carousel-control-next { right: -60px; }

</style>
{% endblock css %}


{% block content %}
<div class="container-fluid">
    <div class="select_dropdown"></div>
    <br>
    <div id="data_section"  style="display:none">
        <div class="heat_order_list"></div>
        <div class="jumbotron heat_overview"></div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{{ super() }}
<script src="/static/datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="/static/plusminusinput/plusminusinput.js"></script>
<script src="/static/bootbox/bootbox.min.js"></script>
<script src="/static/bootstrap_duallistbox/jquery.bootstrap-duallistbox.min.js"></script>

<script src="/static/surfjudge/js/select_dropdown.js"></script>
<script src="/static/surfjudge/js/edit_judges.js"></script>
<script src="/static/surfjudge/js/judging_requests_table.js"></script>
<script src="/static/surfjudge/js/heat_participants.js"></script>
<script src="/static/surfjudge/js/edit_heat.js"></script>
<script src="/static/surfjudge/js/heat_activity_button.js"></script>
<script src="/static/surfjudge/js/publish_button.js"></script>
<script src="/static/surfjudge/js/heat_timer.js"></script>
<script src="/static/surfjudge/js/edit_score.js"></script>
<script src="/static/surfjudge/js/edit_scores_panel.js"></script>
<script src="/static/surfjudge/js/heat_overview_panel.js"></script>


<script>

 $('.select_dropdown').select_dropdown({
     label: 'Tournament',
     url: '/tournament_admin/do_get_tournaments',
     action_callback: function(val){
         $('#data_section').show();
         refresh_data_section(val);
     }
 });
</script>

<script>

 function refresh_data_section(tournament_id){
     remove_heat_overview_panel();

     heat_order = [];
     heat_order_names = [];
     current_heat_order_idx = -1;
     var ho_jqxhr = $.getJSON('/tournament_admin/do_get_heat_order', {tournament_id: tournament_id});

     var chid_jqxhr = $.getJSON('/tournament_admin/do_get_current_heat', {tournament_id:tournament_id});

     $.when(ho_jqxhr, chid_jqxhr).done(function(ev_heat_order, ev_current_heat){
         var heat_order_info = ev_heat_order[0];
         var current_heat_id = ev_current_heat[0];
         if (!(current_heat_id) || (current_heat_id.length == 0)) {
             current_heat_id = -1;
         } else {
             current_heat_id = parseInt(current_heat_id[0]['id']);
         }
         if (current_heat_id < 0)
             console.log('No valid "current_heat_id" available. Has the heat been deleted?');

         if (heat_order_info.length == 0)
             alert('No heats in tournament ' + tournament_id);

         // init buttons
         var found_heat = false;				
         var hol = $('.heat_order_list'); hol.empty();
         $.each(heat_order_info, function(idx, heat){
             var label = heat['category']['name'] + ': ' + heat['name'];
             var btn = $('<button data-id=' + heat['id'] + '>').text(label).addClass('btn btn-default');
             btn.on('click', function(){
                 set_heat_overview_panel(heat['id']);
             });
             hol.append(btn);

             if (heat['id'] == current_heat_id){
                 set_heat_overview_panel(heat['id']);
                 found_heat = true;
             }
         });
         if (!found_heat && (heat_order_info.length > 0)) {
             set_heat_overview_panel(heat_order_info[0]['id']);
         }
         return;
     });
 }

 function remove_heat_overview_panel(){
     var elem = $('.heat_overview');
     if (elem.data('surfjudgeHeat_overview_panel') != null){
         elem.heat_overview_panel('destroy');
     }
 }

 function set_heat_overview_panel(heat_id){
     // color buttons
     $('.heat_order_list button').removeClass('btn-success').addClass('btn-default');
     $('.heat_order_list button[data-id="' + heat_id + '"]').addClass('btn-success');

     var elem = $('.heat_overview');

     if (elem.data('surfjudgeHeat_overview_panel') != null){
         elem.heat_overview_panel('destroy');
     }
     elem.heat_overview_panel({'heat_id': heat_id});

     var tournament_id = $('.select_dropdown').select_dropdown('get_selected_value');
     $.post('/tournament_admin/do_set_current_heat_id', {tournament_id:tournament_id, heat_id: heat_id});
     return;
 }
</script>

{% endblock javascript%}
