{% extends "base_template.jinja2" %}

{% block nav_items %}['#nav_item_admin']{% endblock nav_items %}

{% block title %}Edit Judges{% endblock title %}


{% block css %}
{{ super() }}

{% endblock css %}

{% block content %}

<!-- All judges table -->
<div class="container">
    <button type="button" id="new_btn" class="btn btn-standard btn-lg"><span class="fa fa-plus"></span>&nbsp;New Judge</button>

    <br><br>

    <table class="table table-striped"
           id="judges_table"
           data-toggle="table"
           data-url="/rest/judges"
           data-sort-name="name"
           date-sort-order="asc">
        <thead>
            <tr>
                <th data-field="id">ID (for admin)</th>
                <th data-field="first_name" data-sortable="true">First Name</th>
                <th data-field="last_name" data-sortable="true">Last Name</th>
                <th data-field="username" data-sortable="true">Login</th>
                <th data-field="additional_info" data-sortable="true">Additional Info</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock content %}



{% block modals %}
{% endblock modals %}


{% block javascript %}
{{ super() }}
<script src="/static/bootbox/bootbox.min.js"></script>
<script src="/static/surfjudge/js/edit_judge.js"></script>

<script>
 // register functionality for "new judge" button
 $('#new_btn').on('click', function(){
     edit_judge();
 });

 // register functionality for selecting judge from table
 $('#judges_table').on('click-row.bs.table', function (e, row, $element) {
     if (typeof(row) !== 'undefined'){
         edit_judge(row['id']);
     };
 });

 function edit_judge(judge_id){
     var html = [
         '<div class="edit_judge"></div>',
     ].join(' ')

     var bb = bootbox.dialog({
         title: 'Edit Judge',
         message: html,
         onEscape: true,
         buttons: {
             'cancel': {
                 label: 'Cancel',
                 className: 'btn btn-default',
             }
         },
     });
     bb.init(function(){
         var elem = bb.find('.edit_judge').edit_judge({judge_id: judge_id});

         elem.on('edit_judgedata_changed', function(){
             $('#judges_table').bootstrapTable('refresh');
             bootbox.hideAll();
         });
     });
 }

</script>

{% endblock javascript %}


{% block modal_javascript %}

{% endblock modal_javascript %}
