{% extends "base_template.jinja2" %}

{% block nav_items %}['#nav_item_heat_overview']{% endblock nav_items %}

{% block title %}Heat Overview{% endblock title %}

{% block css %}
{{ super() }}



<link href="/static/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="/static/bootstrap_duallistbox/bootstrap-duallistbox.min.css" rel="stylesheet">
<link href="/static/surfjudge/css/heat_participants.css" rel="stylesheet">
<link href="/static/datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="/static/surfjudge/css/judging_requests.css" rel="stylesheet">
<link href="/static/surfjudge/css/heat_timer.css" rel="stylesheet">
<link href="/static/surfjudge/css/edit_scores_panel.css" rel="stylesheet">
<link href="/static/surfjudge/css/edit_score.css" rel="stylesheet">
<link href="/static/surfjudge/css/placings_table.css" rel="stylesheet">

<style>
 .datepicker{z-index:1151 !important;}
 .timepicker{z-index:1151 !important;}
 .scrollable-menu{
     height: auto;
     max-height: 200px;
     overflow-x: hidden;
 }
 .carousel-control {
     height: 100px;
     z-index: 10;
     width: 50px; // no more gray thing
 }

 .carousel-control-prev { left: -60px; }
 .carousel-control-next { right: -60px; }

</style>
{% endblock css %}


{% block content %}
<div class="container">
    <div class="row">
        <div id="tournaments_select_dropdown" class="col">
        </div>
        <div id="categories_select_dropdown" class="col">
        </div>
        <div id="heats_select_dropdown" class="col">
        </div>
    </div>
    <br>
    <div id="data_section"  style="display:none">
        <div class="jumbotron heat_overview" style="padding-top: 2rem;"></div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{{ super() }}
<script src="/static/datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="/static/plusminusinput/plusminusinput.js"></script>
<script src="/static/bootbox/bootbox.min.js"></script>
<script src="/static/bootstrap_duallistbox/jquery.bootstrap-duallistbox.min.js"></script>

<script src="/static/surfjudge/js/select_dropdown.js"></script>
<script src="/static/surfjudge/js/edit_assigned_judges.js"></script>
<script src="/static/surfjudge/js/judging_requests_table.js"></script>
<script src="/static/surfjudge/js/heat_participants.js"></script>
<script src="/static/surfjudge/js/edit_heat.js"></script>
<script src="/static/surfjudge/js/heat_activity_button.js"></script>
<script src="/static/surfjudge/js/publish_button.js"></script>
<script src="/static/surfjudge/js/heat_timer.js"></script>
<script src="/static/surfjudge/js/edit_score.js"></script>
<script src="/static/surfjudge/js/edit_scores_panel.js"></script>
<script src="/static/surfjudge/js/placings_table.js"></script>
<script src="/static/surfjudge/js/heat_overview_panel.js"></script>


<script>
$(document).ready(function(){
    //get currently running heats and select one of them if available
    $.getJSON('/rest/active_heats')
        .done(function(ev_heat_info){
            if (ev_heat_info.length == 0)
                return;

            var heat = ev_heat_info[0];
            var heat_id = heat['id'];
            var category_id = heat['category_id'];
            var tournament_id = heat['category']['tournament_id'];

            // refresh dropdowns for found category and heat
            var deferred_categories = $('#categories_select_dropdown').select_dropdown('refresh', {'tournament_id': tournament_id});
            var deferred_heats = $('#heats_select_dropdown').select_dropdown('refresh', {'category_id': category_id});

            // select found tournament, category and heat in dropdowns (without triggering the "on_*_select" functions)
            $.when(deferred_heats, deferred_categories).done(function() {
                $('#tournaments_select_dropdown').select_dropdown('select_item', null, tournament_id, true);  // do not trigger callback
                $('#categories_select_dropdown').select_dropdown('select_item', null, category_id, true);  // do not trigger callback
                $('#heats_select_dropdown').select_dropdown('select_item', null, heat_id);
            });
        });

    $('#tournaments_select_dropdown').select_dropdown({
        label: "Tournament",
        url: "/rest/tournaments",
        action_callback: on_tournament_select,
        select_first_on_load: true,
    });

    $('#categories_select_dropdown').select_dropdown({
        label: 'Category',
        url: "/rest/categories",
        url_requires_options: true,
        action_callback: on_category_select,
        select_first_on_load: false,
        sort_function: function(a,b){
                return (b['name'] < a['name']) ? 1 : -1;
            },
    });

    $('#heats_select_dropdown').select_dropdown({
        label: 'Heat',
        url: "/rest/heats",
        url_requires_options: true,
        action_callback: on_heat_select,
        select_first_on_load: false,
        sort_function: function(a,b){
                return (b['name'] < a['name']) ? 1 : -1;
            }
    });
});

function on_tournament_select(selected_value){
  $('#categories_select_dropdown').select_dropdown('refresh', {'tournament_id': selected_value});
  $('#heats_select_dropdown').select_dropdown('load', []);
  //$('#data_section').hide();
}

function on_category_select(selected_value){
  $('#heats_select_dropdown').select_dropdown('refresh', {'category_id': selected_value});
  //$('#data_section').hide();
}

function on_heat_select(selected_value){
   refresh_data_section(selected_value);
   $('#data_section').show();
}
</script>

<script>

function refresh_data_section(heat_id){
    remove_heat_overview_panel();
    set_heat_overview_panel(heat_id);
}

function remove_heat_overview_panel(){
    var elem = $('.heat_overview');
    if (elem.data('surfjudgeHeat_overview_panel') != null){
        elem.heat_overview_panel('destroy');
    }
}

function set_heat_overview_panel(heat_id){
    var elem = $('.heat_overview');
    elem.heat_overview_panel({'heat_id': heat_id, websocket_url: {{ websocket_url | safe }}});
    var tournament_id = $('#tournaments_select_dropdown').select_dropdown('get_selected_value');
    return;
}
</script>

{% endblock javascript%}
