<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>RAPID SURF DM 2020</title>
</head>
	<body><br><br><br><br><br><br>
		<div style="text-align: center;">
  <img src=https://rapid-surfdm.de/stat/200806_RapidSurf_Meisterschaft_mixedMedia2.jpg border=0>
</div>
	</body>
</html>
