{% extends "base_template.jinja2" %}

{% block nav_items %}['#nav_item_judge_tools']{% endblock nav_items %}

{% block title %}Judge Panel{% endblock title %}


{% block css %}
{{ super()}}
<link href="/static/surfjudge/css/edit_score.css" rel="stylesheet">
<link href="/static/surfjudge/css/judge_panel.css" rel="stylesheet">
<link href="/static/surfjudge/css/heat_timer.css" rel="stylesheet">

{% endblock css %}


{% block content %}
    <div class="jumbotron" id="waiting_banner">
      <!-- <img src="/static/img/JudgingLogo.png" style="width: 600px; margin-left: auto; margin-right: auto; display: block;"> -->
      <br>
      <h1 style="text-align: center">Please wait for heat to start...</h1>
    </div>

    <div id="judge_section" style="display: none;">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          <div class="row">
            <span id="heat_name" class="col-10 card_header_title"></span>
            <div id="heat_timer" class="col-2 card_header_title"></div>
          </div>
        </div>
        <div id="judge_panel"></div>
      </div>
    </div>
{% endblock content %}




{% block javascript %}

{{ super() }}
<script src="/static/bootbox/bootbox.min.js"></script>
<script src="/static/surfjudge/js/edit_score.js"></script>
<script src="/static/surfjudge/js/judge_panel.js"></script>
<script src="/static/surfjudge/js/heat_timer.js"></script>


<script>
 function show_check_login_modal(){
    var html = $([
        '<div class="modal-body" align="center">',
        '    <h1>Are you Judge</span></h1>',
        '    <h1><span class="judge_name"></span>?</h1>',
        '    <br><br><br>',
        '    <div class="btn-toolbar justify-content-between" role="toolbar">',
        '        <button class="btn btn-lg btn-success float-left btn_yes" style="height: 100px; width: 130px">',
        '            <span class="fa fa-check"></span>&nbsp;Yes',
        '        </button>',
        '        <button class="btn btn-lg btn-danger float-right btn_no" style="height: 100px; width: 130px">',
        '            <span class="fa fa-minus"></span>&nbsp;No',
        '        </button>',
        '    </div>',
        '</div>',
    ].join(' '))

    html.find('.judge_name').text(judge_data['first_name'] + ' ' + judge_data['last_name']);

    var bb = bootbox.dialog({
        message: html,
    });
    bb.init(function(){
        bb.on('click', '.btn_yes', function(){
            modal_open = false;
            bootbox.hideAll();
        })
        .on('click', '.btn_no', function(){
            window.location.replace("/auth/logout");
        });
    });
 }

 function judge_panel_is_open() {
     return $('#judge_panel').data('surfjudgeJudge_panel');
 }

 function heat_timer_is_active() {
     return $('#heat_timer').data('surfjudgeHeat_timer');
 }

 modal_open = false;
 judge_data = null;
 function toggle_visibility() {
     var judge_id = "{{ judge_id }}";
     if (judge_id == "") {
         console.log('No judge_id available.');
         return;
     }
     $.getJSON('/rest/active_judge_assignments/' + judge_id, function(active_judge_assignments) {
         if (active_judge_assignments.length > 0){
             judge_data = active_judge_assignments[0]['judge'];

             // open judge panel
             var heat_info = active_judge_assignments[0]['heat'];
             if (!judge_panel_is_open()) {
                 $('#heat_name').text(heat_info['name']);
                 $('#heat_timer').heat_timer({heat_id: heat_info['id'], websocket_url: {{ websocket_url | safe }}, class: 'float-right'});

                 $('#judge_panel').judge_panel({
                     heat_id: heat_info['id'],
                     judge_id: judge_id,
                     websocket_url: {{ websocket_url | safe }}});
                 $('#waiting_banner').hide();
                 $('#judge_section').show();
             }
         } else {
             $.post('/rest/judging_requests', {judge_id: judge_id});
             var jp_is_open = judge_panel_is_open();
             var ht_is_active = heat_timer_is_active();
             if (jp_is_open) {
                 console.log('Destroying judge panel.');
                 $('#judge_panel').judge_panel('destroy');
             }
             if (ht_is_active) {
                 console.log('Destroying heat timer.');
                 $('#heat_timer').heat_timer('destroy');
             }
             $('#judge_panel').empty();
             $('#heat_timer').empty();
             $('#waiting_banner').show();
             $('#judge_section').hide();
             if (modal_open) {
                 console.log('Modal is still open.');
                 return;
             }
             if (jp_is_open){
                 modal_open = true;
                 // show judge recheck modal
                 console.log('Showing modal to check for current judge.');
                 show_check_login_modal();
             }
         }
     });
 }
</script>

<script>

console.log('Initiating websocket for waiting for judge panel.')
websocket = new WebSocketClient({
    url: {{ websocket_url | safe }},
    channels: {
        'active_heats': toggle_visibility,
    },
    name: 'Wait for Judge Panel',
});

$(document).ready(function(){
    toggle_visibility();
    setInterval(toggle_visibility, 5000);
});
</script>
{% endblock javascript %}



{% block modals %}
{% endblock modals %}

{% block modal_javascript %}
{% endblock modal_javascript %}
