{% extends "authentication/login.jinja2" %}

{% block nav_items %}['#nav_item_register']{% endblock nav_items %}


{% block content %}
<form class="form-signin" method="post" action="{{ url }}">
    <h2 class="form-signin-heading">Register User: {{ message }}</h2>
    <input type="hidden" name="came_from" value="{{ came_from }}" />
    <input type="text" class="input-block-level" placeholder="Username" name="login" value="{{ login if login != None }}" />
    <input type="password" class="input-block-level" placeholder="Password" name="password" value="{{ password if password != None }}">
    <button class="btn btn-large btn-standard" type="submit" name="form.submitted">Register</button>
    {% if global_is_admin %}
    <label class="checkbox">
      <input type="checkbox" value=1 name="as_admin"> Register as admin
    </label>
    {% endif %}
</form>
{% endblock content %}
